* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: blue;
}
a {
  text-decoration: none;
}

main {
  display: flex;
  height: calc(100% - 90px);
}
/* NAVIGATOR */
.main_nav {
  width: 250px;
  height: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* HOME LOGO */
.main_nav .home_logo {
  height: 100px;
  line-height: 100px;
}
.main_nav img {
  width: 150px;
}
/* MENU FUNCTION */
.menu_function {
  padding-bottom: 20px;
}
.menu_function li {
  list-style: none;
  color: grey;
  padding: 5px 0;
}
.menu_function i {
  color: grey;
  width: 30px;
}
.menu_function a {
  color: grey;
}
.menu_function .fas.fa-home {
  color: white;
}
.menu_function  #home{
  color: white;
}
/* MENU PLAYLIST */
.menu_playlist {
  height: calc(100% - 80px);
  overflow: auto;
}
.menu_playlist li {
  list-style: none;
  padding: 5px 0;
}
.main_nav h2 {
 color: white;
 font-size: 15px;
}
#playlist {
  padding-top: 10px;
}
#playlist i {
  font-size: 30px;
  color: grey;
  padding-right: 10px;
  vertical-align: middle;
}
#playlist h3 {
  display: inline-block;
  vertical-align: middle;
  color: grey;
  font-size: 15px;
}
.menu_playlist a {
  color: grey;
}
/* MENU ACCOUNT */
.menu_account {
  height: 80px;
}
.menu_account h6, .menu_account h5 {
  display: inline-block;
}
.menu_account h6 {
  color: grey;
}
.menu_account h5 {
  color: white;
  font-size: 18px;
}
.menu_account .fas.fa-arrow-circle-down {
  color: grey;
  display: inline-block;
  font-size: 10px;
}
.menu_account .fas.fa-user-circle {
  color: grey;
  font-size: 30px;
  vertical-align: middle;
}
hr {
  margin: 10px 0;
}
/* HOVER */
.main_nav a:hover {
  color: white;
}
.main_nav i:hover {
  color: white;
}

/* MAIN */
.overlay_subscribe {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay_subscribe #button_subscribe{
  border: 1px solid white;
  margin-right: 0 auto;
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  margin-right: 5%;
}
/* MENU MAIN */
.main_content {
  width: 100%;
  height: 100%;
  background-color: #2b44bb;
  overflow-y: auto;
}
.menu_main ul{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.menu_main ul li {
  list-style: none;
  padding-left: 20px;
}

.menu_main ul li a {
  color: grey;
}
.menu_main ul li a:hover {
  color: #1cd764;
}
/* ASCOLTATI DI RECENTE */
.main_content h2 {
  color: white;
  margin: 20px 0;
}
.wrapper_main {
  width: 92%;
  margin: 0 auto;
}
.album {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.wrapper_main img {
  width: 100%
}

.album .label_album {
  width: 200px;
  height: 200px;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}
.overlay .far.fa-play-circle {
  color: white;
  font-size: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.label_album:hover .overlay {
  display: block;
}
figcaption {
  text-align: center;
  color: white;
}
figcaption:last-child {
  color: grey;
}
/* CREATI PER TE */
.album_recent_play {
  justify-content: flex-start;
}
.label_album_margin {
  margin-right: 20px;
}
h2.title {
  margin-bottom: 5px;
}
.main_content p {
  color: grey;
  margin-bottom: 20px;
}
/* ARTISTI PIU POPOLARI */
.circle_frame {
  border-radius: 100%;
}

/* FOOTER */
footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
  z-index: 1;
}
#player {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
/* BRANO CORRENTE LEFT */
#current_play {
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
}
#current_play img {
  width: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
#info_play {
  width: 100px;
}
#info_play h5 {
  color: white;
}
#info_play h6 {
  color: grey;
}
#elements_play {
  color: grey;
}
#elements_play i {
  padding-right: 5px;
}
/* CENTRAL PLAYER */
#central_player {
  width: 500px;
  height: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 20px;
}
#play_button i{
  padding-right: 30px;
  color: white;
  font-size: 25px;
}


/* RIGHT TOOL */
#utility_tool {
  width: 300px;
  height: 100%;
  border: 1px solid black;
}






@media all and (max-width: 768px) {

  .album {




}
