* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: blue;
}
a {
  text-decoration: none;
}

main {
  display: flex;
  height: calc(100% - 90px);
}
/* NAVIGATOR */
.main_nav {
  width: 250px;
  height: 100%;
  background-color: black;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
}
/* HOME LOGO */
.main_nav .home_logo {
  height: 100px;
  line-height: 100px;
}
.main_nav img {
  width: 150px;
  vertical-align: middle;
}
/* MENU FUNCTION */
.menu_function {
  padding-bottom: 20px;
}
.menu_function li {
  list-style: none;
  color: grey;
  padding: 5px 0;
}
.menu_function i {
  color: grey;
  padding-right: 10px;
}
.menu_function a {
  color: grey;
}
.menu_function .fas.fa-home {
  color: white;
}
.menu_function  #home{
  color: white;
}
/* MENU PLAYLIST */
.menu_playlist {
  height: 200px;
}
.menu_playlist li {
  list-style: none;
  padding: 5px 0;
}
.menu_playlist li:first-child{
  color: white;
}
.menu_playlist i {
  font-size: 30px;
  color: grey;
  padding-right: 10px;
  vertical-align: middle;
}
.menu_playlist a {
  color: grey;
}


/* MENU ACCOUNT */
.menu_account {
  height: 50px;
  width: 80%;
  margin: 0 auto;
  position: absolute;
  bottom: 0%;
}
.menu_account h6, .menu_account h5 {
  color: white;
}












.main_content {
  width: 100%;
  height: 100%;
  background-color: red;
}

footer {
  width: 100%;
  height: 90px;
  background-color: grey;
  z-index: 1;
}
